.list-enter-active[data-v-1ecfafd6],.list-leave-active[data-v-1ecfafd6]{transition:all .3s ease}.list-enter-from[data-v-1ecfafd6],.list-leave-to[data-v-1ecfafd6]{opacity:0;transform:translateY(-10px)}
