.list-enter-active[data-v-e1373824],.list-leave-active[data-v-e1373824]{transition:all .3s ease}.list-enter-from[data-v-e1373824],.list-leave-to[data-v-e1373824]{opacity:0;transform:translateY(-10px)}
