.list-enter-active[data-v-71f28686],.list-leave-active[data-v-71f28686]{transition:all .3s ease}.list-enter-from[data-v-71f28686],.list-leave-to[data-v-71f28686]{opacity:0;transform:translateY(-10px)}
