.list-enter-active[data-v-4b896786],.list-leave-active[data-v-4b896786]{transition:all .3s ease}.list-enter-from[data-v-4b896786],.list-leave-to[data-v-4b896786]{opacity:0;transform:translateY(-10px)}
