name: CI

on:
  workflow_dispatch: {}
  pull_request:
    paths:
      - '**.php'
      - 'class/**'
      - 'modules/**'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, xml

      - name: Get Composer cache
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --no-progress --no-interaction

      - name: Run PHP-CS-Fixer (check)
        run: vendor/bin/php-cs-fixer fix --dry-run --diff --config=.php-cs-fixer.php || true

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse -c phpstan.neon.dist || true

      - name: Run PHPUnit Tests
        run: vendor/bin/phpunit --testdox --colors=always || true
